<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set new password</title>
    <link rel="stylesheet" href="/public/new-password.css">
</head>
<body>
    <div class="container">
        <h1>Set New Password</h1>
        <form action="/set-new-password" method="POST">
          <label for="tempPassword">Temporary Password:</label>
          <input type="password" id="tempPassword" name="tempPassword" required>
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" name="newPassword" required>
          <button type="submit">Set New Password</button>
        </form>
      </div>
      <div>
        <a href="http://localhost:8000/login">login</a>
      </div>
</body>
</html>