<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User's Dashbaord</title>
    <link rel="stylesheet" href="/public/user-board.css">
</head>
<body>
    <p>Welcome</p>
    <div class="sidebar">
        <h1>Main Dashboard</h1>
        <p>
            <span>Welcome: <%= userFullName %></span>
            <span>||</span>
            <span><%= userEmail %></span>
        </p>
        <ul>
            <li><a href="#"><button id="myDashboardBtn">My Dashboard</button></a></li>
            <li> <a href="/create-project"><button id="createProjectBtn">Create Project</button></a></li>
            <li> <a href="/project-board"><button id="ProjectBtn">Project</button></a></li>
            <li> <a href="/create-task"><button id="createTaskBtn">Task</button></a></li>
            <li><button id="settingsBtn">Settings</button></li>
            <form action="/logout" method="post">
                <li><button type="submit" class="logout-button">Logout</button></li>
              </form>
        </ul>
    </div>

    <div class="content">
        <div class="navbar">
        
            
        </div>
           <div>
            <% // if (projectNames && projectNames.length > 0) { %>
                <span><p>Projects:</p></span>
                <br>
                <ul>
                    <% // projectNames.forEach((projectName) => { %>
                        <li><%=// projectName %></li>
                    <% //}); %>
                </ul>
            <% //} else { %>
                <span>No projects assigned yet</span>
            <%// } %>
        </div>
        <h1>My Assigned Projects</h1>
        <div class="project-buttons">
            <% //assignedProjects.forEach((project) => { %>
                <button class="project-button"><%=// project.name %></button>
            <%// }); %>
        </div>
        
        
    
            </div>
        </div>
           </div>
                
       
      
    </div>
    
    
</body>
</html>